Source: pydf
Section: utils
Priority: optional
Maintainer: Package Salvaging Team <team+salvage@tracker.debian.org>
Uploaders: Radovan Garabík <garabik@kassiopeia.juls.savba.sk>
Standards-Version: 4.7.0
Build-Depends:
 debhelper-compat (= 13),
 dh-python,
 python3-all,
Vcs-Browser: https://salsa.debian.org/salvage-team/pydf
Vcs-Git: https://salsa.debian.org/salvage-team/pydf.git
Homepage: https://github.com/garabik/pydf
Rules-Requires-Root: no

Package: pydf
Architecture: all
Depends:
 ${python3:Depends},
 ${misc:Depends},
Description: colourised df(1)-clone
 pydf is all-singing, all-dancing, fully colourised df(1)-clone
 written in Python.
